<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CN_Platform_Moving_Left_20x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,60}</string>
                <key>spriteSourceSize</key>
                <string>{1200,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{1200,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Platform_Moving_20x1.png</string>
            <key>size</key>
            <string>{1202,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:298f6cbb3c65ace3b3b781d2da6350e0:ea3663430614af66be44eb3d20387c76:54073c059a1ec5741e1dd767ce633667$</string>
            <key>textureFileName</key>
            <string>Platform_Moving_20x1.png</string>
        </dict>
    </dict>
</plist>
