<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CN_Platform_Crumble_1x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{60,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CN_Platform_Crumbling.png</string>
            <key>size</key>
            <string>{62,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a941d5d04d6691292a3397804841b30:4762eb764463117c596e6755d966ca67:36877aefab6c3a904a864ac1c48ed28d$</string>
            <key>textureFileName</key>
            <string>CN_Platform_Crumbling.png</string>
        </dict>
    </dict>
</plist>
