<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cc_enemy_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{114,108}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{114,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Enemy_ball.png</string>
            <key>size</key>
            <string>{116,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b57807ffa9265a00ebc54b4d2e0812b:d613d30d196f1b4fa46d4835b7f964e6:e7aa49ec45c9f0fa1690a992bb6882ae$</string>
            <key>textureFileName</key>
            <string>Enemy_ball.png</string>
        </dict>
    </dict>
</plist>
