<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tempbackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1926,1086}</string>
                <key>spriteSourceSize</key>
                <string>{1926,1086}</string>
                <key>textureRect</key>
                <string>{{1,1},{1926,1086}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TemporaryBackground.png</string>
            <key>size</key>
            <string>{1928,1088}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae9f56cfeaf36602889b0060ee6997dd:96688de8fd18feed8ea95b7cdbe25c47:068ef806ee3ced21768f4cd6cb98bf2b$</string>
            <key>textureFileName</key>
            <string>TemporaryBackground.png</string>
        </dict>
    </dict>
</plist>
