<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Crumble/Crumble_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{120,46}</string>
                <key>spriteSourceSize</key>
                <string>{120,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crumble/Crumble_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{120,46}</string>
                <key>spriteSourceSize</key>
                <string>{120,60}</string>
                <key>textureRect</key>
                <string>{{1,49},{120,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crumble/Crumble_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{120,46}</string>
                <key>spriteSourceSize</key>
                <string>{120,60}</string>
                <key>textureRect</key>
                <string>{{1,97},{120,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crumble/Crumble_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{120,46}</string>
                <key>spriteSourceSize</key>
                <string>{120,60}</string>
                <key>textureRect</key>
                <string>{{1,145},{120,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KB_CrumblingPlatform.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{120,46}</string>
                <key>spriteSourceSize</key>
                <string>{120,60}</string>
                <key>textureRect</key>
                <string>{{1,193},{120,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>KG_CrumblingPlatform.png</string>
            <key>size</key>
            <string>{122,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79867dfce57b00f6a2f9e4c8ec928f37:0f4d44abd7703682c9fac5ff24ff7b7f:6ba2faeb41a4d9fadab11c6390147f52$</string>
            <key>textureFileName</key>
            <string>KG_CrumblingPlatform.png</string>
        </dict>
    </dict>
</plist>
