<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Crumble_Stage_00/auw_platform_crumbling_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crumble_Stage_01/auw_platform_crumbling_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{0,120},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crumble_Stage_02/auw_platform_crumbling_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{0,178},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crumble_Stage_03/auw_platform_crumbling_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{60,44}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{0,236},{60,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crumble_Stage_Destroy/auw_platform_crumbling_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{44,36}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{0,280},{44,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crumble_Stage_Idle/auw_platform_crumbling_60x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{0,60},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>auw_platform_crumbling_60x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{0,60},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>auw_platform_crumbling.png</string>
            <key>size</key>
            <string>{60,316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a957bb858587d503526b9c71b51fb46:c23d9281570b9a4d714c3ed75b2584cf:b7f90f8badf77a60391c46150e86a6b6$</string>
            <key>textureFileName</key>
            <string>auw_platform_crumbling.png</string>
        </dict>
    </dict>
</plist>
