<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>help_ingame_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,99}</string>
                <key>spriteSize</key>
                <string>{928,586}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{0,0},{928,586}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>help_ingame_menu.png</string>
            <key>size</key>
            <string>{928,586}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6124538ad2f8fbd3527b2c0e3aa01bd4:3623f1d2ea132a1a326a42242b96d990:cc7d167521da75ec69b3a1475674f7d9$</string>
            <key>textureFileName</key>
            <string>help_ingame_menu.png</string>
        </dict>
    </dict>
</plist>
