<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CN_Platform_Crumble_1x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{60,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crumble_Stage_00/cc_platform_crumbling_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{60,44}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,53},{60,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crumble_Stage_01/cc_platform_crumbling_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{60,38}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,99},{60,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crumble_Stage_02/cc_platform_crumbling_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{60,38}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,139},{60,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crumble_Stage_03/cc_platform_crumbling_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{60,38}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,179},{60,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crumble_Stage_Destroy/cc_platform_crumbling_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28.5,28.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,219},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crumble_Stage_Idle/CN_Platform_Crumble_1x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{60,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CN_Platform_Crumbling_1x1.png</string>
            <key>size</key>
            <string>{62,223}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d880413aef489b4e9335efc58dc1df7e:630bc896a745ac198f4f45716019371f:6a1897b8d6812e2cf61951db0ce6786e$</string>
            <key>textureFileName</key>
            <string>CN_Platform_Crumbling_1x1.png</string>
        </dict>
    </dict>
</plist>
