<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MoveLeft/CN_Platform_Moving_Left_20x1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,60}</string>
                <key>spriteSourceSize</key>
                <string>{1200,60}</string>
                <key>textureRect</key>
                <string>{{1,65},{1200,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoveLeft/CN_Platform_Moving_Left_20x1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,60}</string>
                <key>spriteSourceSize</key>
                <string>{1200,60}</string>
                <key>textureRect</key>
                <string>{{1,127},{1200,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoveLeft/CN_Platform_Moving_Left_20x1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,60}</string>
                <key>spriteSourceSize</key>
                <string>{1200,60}</string>
                <key>textureRect</key>
                <string>{{1,189},{1200,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Platform_Moving_20x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1202,62}</string>
                <key>spriteSourceSize</key>
                <string>{1202,62}</string>
                <key>textureRect</key>
                <string>{{1,1},{1202,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CN_Platform_Moving_20x1.png</string>
            <key>size</key>
            <string>{1204,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:789f454f8505f91324a5203da96fa86c:a06e725e79f479ab8a958a78fc8d95ff:35a7e631650b1b72681fc37b759fa382$</string>
            <key>textureFileName</key>
            <string>CN_Platform_Moving_20x1.png</string>
        </dict>
    </dict>
</plist>
