<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MoveLeft/CN_Platform_Moving_Left_20x1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,1}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,60}</string>
                <key>spriteSourceSize</key>
                <string>{1200,60}</string>
                <key>textureRect</key>
                <string>{{1,67},{1200,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoveLeft/CN_Platform_Moving_Left_20x1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,1}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,60}</string>
                <key>spriteSourceSize</key>
                <string>{1200,60}</string>
                <key>textureRect</key>
                <string>{{1,129},{1200,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoveLeft/CN_Platform_Moving_Left_20x1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,1}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,60}</string>
                <key>spriteSourceSize</key>
                <string>{1200,60}</string>
                <key>textureRect</key>
                <string>{{1,191},{1200,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Platform_Moving_Ogmo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,1}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1204,64}</string>
                <key>spriteSourceSize</key>
                <string>{1204,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{1204,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Platform_Moving_20x1.png</string>
            <key>size</key>
            <string>{1206,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9eda645dcb9489dd3fcce160fe5506f1:87f5ae57d855a70d4bd44b852ed1322a:54073c059a1ec5741e1dd767ce633667$</string>
            <key>textureFileName</key>
            <string>Platform_Moving_20x1.png</string>
        </dict>
    </dict>
</plist>
