<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Angry/cc_enemy_eugene1.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,487},{118,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Angry/cc_enemy_eugene2.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,487},{118,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Normal/final-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,487},{118,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Normal/final-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,487},{118,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Normal/final-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,487},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Normal/final-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,487},{118,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Normal/final-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,487},{118,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Normal/final-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,487},{118,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Normal/final-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,487},{118,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Normal/final-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,487},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Normal/final-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,487},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Normal/final-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,487},{118,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{118,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Normal/final-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,605},{118,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{118,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Normal/final-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,487},{118,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{118,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Normal/final-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,487},{118,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{118,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Normal/final-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,487},{120,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Normal/final-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,607},{118,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{118,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Normal/final-0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1815,487},{118,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Normal/final-0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,605},{118,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Normal/final-0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,605},{118,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Normal/final-0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,487},{118,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cc_enemy_eugene.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{2002,484}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{2002,484}}</string>
                <key>sourceSize</key>
                <string>{2004,484}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cc_enemy_eugene.png</string>
            <key>size</key>
            <string>{2004,722}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9421bd9599f438b36f61c49a5c190c2e:859fbeb1b3ffc278c39ca9a4f11e2d9e:1877978a8d2b48373bfd07d14afcba99$</string>
            <key>textureFileName</key>
            <string>cc_enemy_eugene.png</string>
        </dict>
    </dict>
</plist>
