<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Angry/cc_enemy_eugene_angry1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{60,108}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{60,108}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Angry/cc_enemy_eugene_angry2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,111},{60,108}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{60,108}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Normal/cc_enemy_eugene.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,111},{60,108}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{60,108}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>cc_enemy_eugene.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,111},{60,108}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{60,108}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Eugene.png</string>
            <key>size</key>
            <string>{62,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fe6026e566b5632d3af339d0b55f6d3:ca5f4c04de0bfb79e1113f8f1995c9d1:6eff63925ec5363d49d80085d171378b$</string>
            <key>textureFileName</key>
            <string>Eugene.png</string>
        </dict>
    </dict>
</plist>
