<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cc_platform_brick_180x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cc_platform_brick_180x60.png</string>
            <key>size</key>
            <string>{182,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c1d7834e5ff57711c2e7ed3ce497888:5363bfe2660439be9d35ae3cc2506d85:9160b81338561267e57049c529bbefd1$</string>
            <key>textureFileName</key>
            <string>cc_platform_brick_180x60.png</string>
        </dict>
    </dict>
</plist>
