<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>choose_level.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{160,38}</string>
                <key>spriteSourceSize</key>
                <string>{200,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{160,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>choose_level.png</string>
            <key>size</key>
            <string>{162,40}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:204c9ed9f46539f3c4131ce50c500196:51ea22f9fb6efd2b47b50402559d57f4:3f5d1c83c751a4abd09fbb501f9f81a7$</string>
            <key>textureFileName</key>
            <string>choose_level.png</string>
        </dict>
    </dict>
</plist>
