<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tb_platform_moving_1440x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1440,60}</string>
                <key>spriteSourceSize</key>
                <string>{1440,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{1440,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tm_platform_moving_1140x60.png</string>
            <key>size</key>
            <string>{1440,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e27f7a9e6664793d1b01ed65b3636d5:a206e2ab8be982eaa794d5c20b803dab:b03fc1189d109aafb7afbed5ae41fac5$</string>
            <key>textureFileName</key>
            <string>tm_platform_moving_1140x60.png</string>
        </dict>
    </dict>
</plist>
