<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Door2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Door2.png</string>
            <key>size</key>
            <string>{120,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cfe645d0e39385b6ca615c15f4b3665:37cafa2571c1a374c2ab8212f77fe185:65e7ae3b7dc27b06237c66fc4f8eae2e$</string>
            <key>textureFileName</key>
            <string>Door2.png</string>
        </dict>
    </dict>
</plist>
