<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auw_fish_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{42,26}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{42,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>auw_fish_1.png</string>
            <key>size</key>
            <string>{42,26}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67d6504609e5864a42d4e6ee62ea370c:4f5f38360f0d5ef554f43941bf9cddf7:324ad5d98f83a033a6195ceecbff449a$</string>
            <key>textureFileName</key>
            <string>auw_fish_1.png</string>
        </dict>
    </dict>
</plist>
