<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auw_bubble_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{54,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>auw_bubble_1.png</string>
            <key>size</key>
            <string>{54,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8bdf8d0445187ae3cacc16f8c161d67:3e47b85b9156b246ca1e9b273e61c576:779cbe93bd8f49b644ef0f36ec3c8308$</string>
            <key>textureFileName</key>
            <string>auw_bubble_1.png</string>
        </dict>
    </dict>
</plist>
