<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ForegroundShipwreck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,1080}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{0,0},{1920,1080}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ForegroundShipwreck.png</string>
            <key>size</key>
            <string>{1920,1080}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd50b4aa5015edc773704fce529b1181:d6c5274046863da4f384e1d18a27fd84:f520b5d20e58c6a68fdf596731612a62$</string>
            <key>textureFileName</key>
            <string>ForegroundShipwreck.png</string>
        </dict>
    </dict>
</plist>
