<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ShipwreckBoundaries.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-151}</string>
                <key>spriteSize</key>
                <string>{1920,778}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{0,0},{1920,778}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ShipwreckBoundaries.png</string>
            <key>size</key>
            <string>{1920,778}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d55b77f895cb1fa6f2b6d9a22e96a963:2cb1fe3854c88c11ec46337ed88c7725:190db29e2fbcd7bdb39b3099974a1c1a$</string>
            <key>textureFileName</key>
            <string>ShipwreckBoundaries.png</string>
        </dict>
    </dict>
</plist>
