<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Angry/cc_enemy_eugene1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{114,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{114,108}}</string>
                <key>sourceSize</key>
                <string>{116,110}</string>
            </dict>
            <key>Angry/cc_enemy_eugene2.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1},{114,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{114,108}}</string>
                <key>sourceSize</key>
                <string>{116,110}</string>
            </dict>
            <key>Normal/cc_enemy_eugene.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1},{114,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{114,108}}</string>
                <key>sourceSize</key>
                <string>{116,110}</string>
            </dict>
            <key>cc_enemy_eugene.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1},{114,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{114,108}}</string>
                <key>sourceSize</key>
                <string>{116,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cc_enemy_eugene.png</string>
            <key>size</key>
            <string>{232,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7142e9399073d7f9caab5399224eadf:d5cf744275eeecf68377e0df51cee776:1877978a8d2b48373bfd07d14afcba99$</string>
            <key>textureFileName</key>
            <string>cc_enemy_eugene.png</string>
        </dict>
    </dict>
</plist>
