<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tcr_platform_brick_60x720.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{716,60}</string>
                <key>spriteSourceSize</key>
                <string>{720,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{716,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tcr_platform_brick_720x60.png</string>
            <key>size</key>
            <string>{716,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d894b24583e32fc4aacf4dc24b72fb36:411d89690ace9ef9979ffb8ae5476072:39257d608b8c1dc425c89e0ad38bc402$</string>
            <key>textureFileName</key>
            <string>tcr_platform_brick_720x60.png</string>
        </dict>
    </dict>
</plist>
