<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tcr_platform_brick_60x720.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{60,716}</string>
                <key>spriteSourceSize</key>
                <string>{60,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,716}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tcr_platform_brick_60x720.png</string>
            <key>size</key>
            <string>{62,718}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0695086e37ccb26655e6bfc948fd31b:e78dae1e4f1a184975356b223fa350f2:c898a4ce8c0106283f36de6444fd6d07$</string>
            <key>textureFileName</key>
            <string>tcr_platform_brick_60x720.png</string>
        </dict>
    </dict>
</plist>
