<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CN_Platform_Regular_15x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,60}</string>
                <key>spriteSourceSize</key>
                <string>{900,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{900,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CN_Platform_Regular_15x1.png</string>
            <key>size</key>
            <string>{902,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8aba45b5b3e0ebbcb7fa53f999354d04:1d2b3b549bba01ea774cfb3e4146121d:825469359534dd6dfc1a43a1545ce9be$</string>
            <key>textureFileName</key>
            <string>CN_Platform_Regular_15x1.png</string>
        </dict>
    </dict>
</plist>
