<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_life_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,240}</string>
                <key>spriteSourceSize</key>
                <string>{60,240}</string>
                <key>textureRect</key>
                <string>{{0,0},{60,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_life_full.png</string>
            <key>size</key>
            <string>{60,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1aefaf7ed9a9effe7e5597001bb0a8e2:cf75edebb6d631d73b0959ffb53e386e:a7991d59fc3ac2357db85d9640a2f7e9$</string>
            <key>textureFileName</key>
            <string>ui_life_full.png</string>
        </dict>
    </dict>
</plist>
