<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_life_lost.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,240}</string>
                <key>spriteSourceSize</key>
                <string>{60,240}</string>
                <key>textureRect</key>
                <string>{{0,0},{60,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_life_lost.png</string>
            <key>size</key>
            <string>{60,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d49a8445bd9debf53eb8ae7227a28e94:42702e7260b99d231e934a0e5bedfd15:82d1ccc88a61c30ac1001cf5b1c2f962$</string>
            <key>textureFileName</key>
            <string>ui_life_lost.png</string>
        </dict>
    </dict>
</plist>
