<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spg_platform_regular_360x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{360,44}</string>
                <key>spriteSourceSize</key>
                <string>{360,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{360,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tm_platform_regular_360x60.png</string>
            <key>size</key>
            <string>{360,44}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e0acd52e722da07d41541f75113f08d:f4b277b0f7d0d2be9503574d50a47494:4147ae566a29558c098f1c5ae31247e2$</string>
            <key>textureFileName</key>
            <string>tm_platform_regular_360x60.png</string>
        </dict>
    </dict>
</plist>
