<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>amt_platform_regular_240x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,60}</string>
                <key>spriteSourceSize</key>
                <string>{240,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{240,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tm_platform_regular_240x60.png</string>
            <key>size</key>
            <string>{240,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:737b384205d0853bf9837ee6ecbea2f3:9b71ca5972164de8e953da128b0b8202:53213d0bd3af3393753bd016920d0f9b$</string>
            <key>textureFileName</key>
            <string>tm_platform_regular_240x60.png</string>
        </dict>
    </dict>
</plist>
