<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>amt_platform_regular_120x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{120,44}</string>
                <key>spriteSourceSize</key>
                <string>{120,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{120,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tm_platform_regular_120x60.png</string>
            <key>size</key>
            <string>{120,44}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bbd9b4d0197d59982f06f74a420d87d:ac832f8852c8b52dfeb449f4ce70b801:fba75a95f38f6cb1417b9be8f5b7a044$</string>
            <key>textureFileName</key>
            <string>tm_platform_regular_120x60.png</string>
        </dict>
    </dict>
</plist>
