<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_bar_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,176}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{0,0},{180,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AirBarBackground.png</string>
            <key>size</key>
            <string>{180,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85acc1f2f5bd219acf481c836e84921d:4b08b0793ae2f0effe9aeaa5bf708205:5cf9e2ea433f21962fb366c48ad52054$</string>
            <key>textureFileName</key>
            <string>AirBarBackground.png</string>
        </dict>
    </dict>
</plist>
