<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auw_platform_brick_60x240.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,240}</string>
                <key>spriteSourceSize</key>
                <string>{60,240}</string>
                <key>textureRect</key>
                <string>{{0,0},{60,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>auw_platform_brick_60x240.png</string>
            <key>size</key>
            <string>{60,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17b6b9e5a0cecd612e8d4a131e1f9e80:3d16e05cb27184b1f4af3a6056962fee:b927295349a65ccaa609d15873361fcf$</string>
            <key>textureFileName</key>
            <string>auw_platform_brick_60x240.png</string>
        </dict>
    </dict>
</plist>
