<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auw_platform_brick_60x780.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,780}</string>
                <key>spriteSourceSize</key>
                <string>{60,780}</string>
                <key>textureRect</key>
                <string>{{0,0},{60,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>auw_platform_brick_60x780.png</string>
            <key>size</key>
            <string>{60,780}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f30dccf0ecd6af70121301eade2cd5b1:33c7dec77ad0b0caa9be33c02c044ac0:63409fc9c7109912f4a6581c2f533414$</string>
            <key>textureFileName</key>
            <string>auw_platform_brick_60x780.png</string>
        </dict>
    </dict>
</plist>
