<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tcr_platform_moving_240x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{240,46}</string>
                <key>spriteSourceSize</key>
                <string>{240,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{240,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tcr_platform_moving_240x60.png</string>
            <key>size</key>
            <string>{240,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cda6e4fd9ca99547826d624c0ea768b:8bf8e05003ebff8be793fb60ca2b55aa:1d5d726c8a5577fe7bd575ecc0a52943$</string>
            <key>textureFileName</key>
            <string>tcr_platform_moving_240x60.png</string>
        </dict>
    </dict>
</plist>
