<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CN_Platform_Regular_9x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,60}</string>
                <key>spriteSourceSize</key>
                <string>{540,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{540,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CN_Platform_Regular_9x1.png</string>
            <key>size</key>
            <string>{542,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d4e0b8e8f48a952b3a11d49a55d6e09:bf134bddb54b9b5101a48e71f136bd01:d7b38ff4b7ef0412d13ec30b039c308e$</string>
            <key>textureFileName</key>
            <string>CN_Platform_Regular_9x1.png</string>
        </dict>
    </dict>
</plist>
