<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CN_Platform_Regular_Middle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{60,46}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CN_Platform_Regular_Middle_04.png</string>
            <key>size</key>
            <string>{62,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9edb5882ec31ddb5459b3b0f86fb060:e523d5ce8f72a72db7efc51d804884a8:0c24dc5f3232a5da23de7340f796c62d$</string>
            <key>textureFileName</key>
            <string>CN_Platform_Regular_Middle_04.png</string>
        </dict>
    </dict>
</plist>
