<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CN_Platform_Regular_19x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1140,60}</string>
                <key>spriteSourceSize</key>
                <string>{1140,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{1140,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CN_Platform_Regular_19x1.png</string>
            <key>size</key>
            <string>{1142,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae8ba488f461e489e7806f91a7261e3b:c959214dc888cdb965c1352df1847f5d:7c73dd9de128919602dfceef690530f1$</string>
            <key>textureFileName</key>
            <string>CN_Platform_Regular_19x1.png</string>
        </dict>
    </dict>
</plist>
