<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CN_Platform_Regular_Middle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{60,44}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CN_Platform_Regular_Middle_01.png</string>
            <key>size</key>
            <string>{62,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d54b3dd152ff6762b1dffc26937451f7:306b759090aaab4e36d37a5aeb56639a:b4710461694ec450f23a30e51b097ae0$</string>
            <key>textureFileName</key>
            <string>CN_Platform_Regular_Middle_01.png</string>
        </dict>
    </dict>
</plist>
