<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CN_Platform_Regular_Right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{60,44}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CN_Platform_Regular_Right.png</string>
            <key>size</key>
            <string>{62,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5aa14aed0d3cb6a024344d2609eb9e43:f4f38b35d5f6479a614926368fcd02d4:6da66f0b6babf10370e311889c389e33$</string>
            <key>textureFileName</key>
            <string>CN_Platform_Regular_Right.png</string>
        </dict>
    </dict>
</plist>
