<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cc_platform_regular_2x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,60}</string>
                <key>spriteSourceSize</key>
                <string>{120,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CN_Platform_Regular_2x1.png</string>
            <key>size</key>
            <string>{122,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:049e733062075c6b842e1e90f769fdcf:d8fc7ee9cd01fc0533b7b70549fd59a3:3e015267cc26a36b7a83b9ede4283f73$</string>
            <key>textureFileName</key>
            <string>CN_Platform_Regular_2x1.png</string>
        </dict>
    </dict>
</plist>
