<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CN_Platform_Regular_7x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,60}</string>
                <key>spriteSourceSize</key>
                <string>{420,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{420,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CN_Platform_Regular_7x1.png</string>
            <key>size</key>
            <string>{422,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55c4d0231339fb61acc002a4a13b24ef:6e0367d064cab0a929521b72de4ebad5:44ae388b464a8326658e3bfcbbfe9d52$</string>
            <key>textureFileName</key>
            <string>CN_Platform_Regular_7x1.png</string>
        </dict>
    </dict>
</plist>
