<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CN_Platform_Regular_11x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{660,60}</string>
                <key>spriteSourceSize</key>
                <string>{660,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{660,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CN_Platform_Regular_11x1.png</string>
            <key>size</key>
            <string>{662,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a2e4bf7f80c66136d26f1aeeb1cf578:9778f16d80d078aaf05077de2a7acfb9:7273d5e9e6e8cb8007dde9cfcc3e9473$</string>
            <key>textureFileName</key>
            <string>CN_Platform_Regular_11x1.png</string>
        </dict>
    </dict>
</plist>
