<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auw_platform_moving_180x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{180,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>auw_platform_moving_180x60.png</string>
            <key>size</key>
            <string>{180,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ab110c85cd2f28924e90460c36b377c:782e255dc805bee5e8dc14cebe88b629:81cf1717e50a5e716a67cec98ff70690$</string>
            <key>textureFileName</key>
            <string>auw_platform_moving_180x60.png</string>
        </dict>
    </dict>
</plist>
