<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cc_platform_regular_300x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,60}</string>
                <key>spriteSourceSize</key>
                <string>{300,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{300,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cc_platform_regular_300x60.png</string>
            <key>size</key>
            <string>{300,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14fec2a774036cd3363b8be7eccca73b:155e52c958b0d3d31afe516909548d78:998ddd5a0839218d5362104c2fbae088$</string>
            <key>textureFileName</key>
            <string>cc_platform_regular_300x60.png</string>
        </dict>
    </dict>
</plist>
