<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CN_Platform_Ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1800,60}</string>
                <key>spriteSourceSize</key>
                <string>{1800,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{1800,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CN_Platform_Ground.png</string>
            <key>size</key>
            <string>{1802,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0845ed838b9b8a806acecd9152935d95:889ec7145d64c2cce8d7e43d7dd11f4c:ce82ff43e1a323dc85be07a7dd76ad1d$</string>
            <key>textureFileName</key>
            <string>CN_Platform_Ground.png</string>
        </dict>
    </dict>
</plist>
