<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CN_Platform_Ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1800,60}</string>
                <key>spriteSourceSize</key>
                <string>{1800,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{1800,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CN_Platform_Ground.png</string>
            <key>size</key>
            <string>{1802,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c0a8f3f84f9b2209f283ff495b5fd3f:e240fa20a9f13187f17f5517de185c0d:ab2576ec1a6d129792d8ba0e33ac65d3$</string>
            <key>textureFileName</key>
            <string>CN_Platform_Ground.png</string>
        </dict>
    </dict>
</plist>
