<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ToxicPlatforms.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-3,-94}</string>
                <key>spriteSize</key>
                <string>{1844,834}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{0,0},{1844,834}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ToxicPlatforms.png</string>
            <key>size</key>
            <string>{1844,834}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0c840495e9c89f245b43d55179a113a:534716f9ca4a6c08809c6d9af84cd018:d2b08d770f079c9851b6a9b07f158d32$</string>
            <key>textureFileName</key>
            <string>ToxicPlatforms.png</string>
        </dict>
    </dict>
</plist>
