<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cc_exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cc_exit.png</string>
            <key>size</key>
            <string>{120,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78e4e13688318e9b31c59a113cd79b2a:a9cc7eab8e216f12d95790074afe3bdc:a2cddae9742ae298cb2d1bbe44222e7f$</string>
            <key>textureFileName</key>
            <string>cc_exit.png</string>
        </dict>
    </dict>
</plist>
