<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Open/portal0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Open/portal0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Open/portal0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{120,0},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Open/portal0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{120,0},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Open/portal0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{240,0},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Open/portal0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{240,0},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Open/portal0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{360,0},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Open/portal0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{360,0},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Open/portal0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{480,0},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Open/portal0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{480,0},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Open/portal0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{600,0},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Open/portal0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{600,0},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Open/portal0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{720,0},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Open/portal0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{720,0},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Open/portal0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{840,0},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Open/portal0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{840,0},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Open/portal0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{960,0},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Open/portal0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{960,0},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Open/portal0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1080,0},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Open/portal0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1080,0},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Open/portal0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1200,0},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Open/portal0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1200,0},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cc_exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1320,0},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cc_exit.png</string>
            <key>size</key>
            <string>{1440,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc5118ce745e9846ccca9d9e7d1e2aea:505ef1edd41706cd19f8693720775624:a2cddae9742ae298cb2d1bbe44222e7f$</string>
            <key>textureFileName</key>
            <string>cc_exit.png</string>
        </dict>
    </dict>
</plist>
