<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mm_character_willy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,120}</string>
                <key>spriteSourceSize</key>
                <string>{60,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TempCharacter.png</string>
            <key>size</key>
            <string>{62,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c39e9c9021341258e794298e9a7ad52:ddfe0960f78f09ba26c9fb36581ee067:d2b147d7904b686d63aed2b87413506f$</string>
            <key>textureFileName</key>
            <string>TempCharacter.png</string>
        </dict>
    </dict>
</plist>
