<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tcr_platform_regular_600x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{600,58}</string>
                <key>spriteSourceSize</key>
                <string>{600,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{600,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tcr_platform_regular_600x60.png</string>
            <key>size</key>
            <string>{600,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13a023f6e0648e35d52eb6d3df1394b3:9473c6e11a5f12e230c068c8792a90ca:2e81e0d4c9e02e3ff7f91b7b6e06e9c0$</string>
            <key>textureFileName</key>
            <string>tcr_platform_regular_600x60.png</string>
        </dict>
    </dict>
</plist>
