<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tcr_platform_regular_420x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{420,58}</string>
                <key>spriteSourceSize</key>
                <string>{420,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{420,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tcr_platform_regular_420x60.png</string>
            <key>size</key>
            <string>{420,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47111847f7396d1024d4e0521eb9682c:4d9b819fa590fcc5a944c22b9e666124:09bc3cb1ef8268477e9f19f09d9f7c1e$</string>
            <key>textureFileName</key>
            <string>tcr_platform_regular_420x60.png</string>
        </dict>
    </dict>
</plist>
