<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tcr_platform_regular_480x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{480,58}</string>
                <key>spriteSourceSize</key>
                <string>{480,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{480,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tcr_platform_regular_480x60.png</string>
            <key>size</key>
            <string>{480,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc7295fa0ab8c34c5bb4837addfc3e2b:8fb12e7d097b82ad1d847a54daefc45d:ecdd4f478589b9c90ddf5621670f14c4$</string>
            <key>textureFileName</key>
            <string>tcr_platform_regular_480x60.png</string>
        </dict>
    </dict>
</plist>
