<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CN_Platform_Brick_3x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,62}</string>
                <key>spriteSourceSize</key>
                <string>{182,62}</string>
                <key>textureRect</key>
                <string>{{1,1},{182,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CN_Platform_Brick_3x1.png</string>
            <key>size</key>
            <string>{184,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5e0e3e8b24be0a71a280eaea83e7d86:ec19e71d6b220bee10a3ac1e400f1707:c2e8f317a02ba50ac5b194de920f5085$</string>
            <key>textureFileName</key>
            <string>CN_Platform_Brick_3x1.png</string>
        </dict>
    </dict>
</plist>
