<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CN_Platform_Brick_1x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,962}</string>
                <key>spriteSourceSize</key>
                <string>{62,962}</string>
                <key>textureRect</key>
                <string>{{1,1},{62,962}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CN_Platform_Brick_16x1.png</string>
            <key>size</key>
            <string>{64,964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7ccd970338c778a2388e654c7cd9510:5d4674e98c81684ce625a1a64f5999c7:f06703197550500f1af84e113746dd8c$</string>
            <key>textureFileName</key>
            <string>CN_Platform_Brick_16x1.png</string>
        </dict>
    </dict>
</plist>
