<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auw_platform_regular_180x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{180,50}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{180,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>auw_platform_regular_180x60.png</string>
            <key>size</key>
            <string>{180,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f6e952078023f87701cde875e691353:c3b1dbf8d62f47c63eee55aba699787b:21b8118e168c48e862af3cee050abcd3$</string>
            <key>textureFileName</key>
            <string>auw_platform_regular_180x60.png</string>
        </dict>
    </dict>
</plist>
