<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auw_platform_regular_660x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{660,60}</string>
                <key>spriteSourceSize</key>
                <string>{660,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{660,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>auw_platform_regular_660x60.png</string>
            <key>size</key>
            <string>{660,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9073975dd321c8b038f30d6f2bbf2d48:d681006aa13b823ceb8f7a9abf5a1e4f:8e5640a9505401bd03e11cd2c15d8c8d$</string>
            <key>textureFileName</key>
            <string>auw_platform_regular_660x60.png</string>
        </dict>
    </dict>
</plist>
