<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auw_platform_ground_1800x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{1860,52}</string>
                <key>spriteSourceSize</key>
                <string>{1860,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{1860,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>auw_platform_ground_1800x60.png</string>
            <key>size</key>
            <string>{1860,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fc1e970961f6a51028344b3ec8c5215:a60c3e6f47ce1973eb420a0c74a1c040:ea7c75a928591b08de3d90a002a3418b$</string>
            <key>textureFileName</key>
            <string>auw_platform_ground_1800x60.png</string>
        </dict>
    </dict>
</plist>
